.search-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1130px) {
  .search-wrapper {
    width: 50%;
  }
}

.search-input {
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  text-indent: 1rem;
}

.suggestions {
  position: absolute;
  top: 3rem;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 18rem;
  background-color: var(--white);
  list-style-type: none;
  overflow: scroll;
  border: 1px solid var(--grey);
}

.suggestions li {
  position: relative;
  padding: 2rem 0;
}

.suggestions li .suggestion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--black);
  border-bottom: 1px solid var(--grey);
}

.suggestions li:last-child .suggestion {
  border-bottom: none;
}

.suggestions li .suggestion-text {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.suggestions li .suggestion-text::first-letter {
  text-transform: uppercase;
}

.suggestions li a:hover,
.suggestions li a.highlighted {
  background-color: var(--black);
  color: var(--white);
}