.search-input {
  height: 2rem;
  width: 100%;
  font-size: 1rem;
}

.suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestions li {
    padding: 1rem 0;
  }

.suggestions li a:hover,
      .suggestions li a.highlighted {
        background-color: var(--black);
        color: var(--white);
      }