:root {
  --white: #ffffff;
  --black: #2a2a2a;
  --grey: #cccccc;
  --yellow: #EBC900;
  --blue: #a5e6ec;

  --headlineFont: 'Vollkorn', serif;
  --bodyFont: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--bodyFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--headlineFont);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
}

p {
  font-size: 1.3rem;
  line-height: 1.;
}

#root {
  padding: 5rem 0 10rem;
  background-color: var(--yellow);
  color: var(--black);
}

.bg {
  width: 100%;
  height: 100vh;
  background-image: url('/images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1130px) {
  .container {
    width: 60%;
  }
}

.bold {
  font-weight: 700;
}

.no-wrap {
  white-space: initial;
}

@media (min-width: 800px) {
  .no-wrap {
    white-space: nowrap;
  }
}

.shadow {
  box-shadow: 0 3px 5px 0px rgba(0,0,0,0.29);
}